
.black .header, .black .content {
  /* background: #444 */
  background: #252525
}
.black .ex a:hover, .black .ex span:hover {
  color: #252525;
}

.yellow .header, .yellow .content {
  /* background: #D4AF37 */
  background: #F29832
}
.yellow .ex a:hover, .yellow .ex span:hover {
  color: #F29832;
}

.blue .header, .blue .content {
  /* background: #00327F */
  background: #4C92FF
}
.blue .ex a:hover, .blue .ex span:hover {
  color: #4C92FF;
}

.mint .header, .mint .content {
  background: #03A678
}
.mint .ex a:hover, .mint .ex span:hover {
  color: #03A678;
}

.beige .header, .beige .content {
  background: #BD8D5F 
}
.beige .ex a:hover, .beige .ex span:hover {
  color: #BD8D5F;
}