
.black .header, 
.black .ant-switch-checked,
.black .ant-menu-dark .ant-menu-inline.ant-menu-sub,
.black .content {
  background: #252525;
}
.black .ant-radio-button-wrapper:hover, .black .ant-radio-button-wrapper-focused,
.black .ex a:hover, 
.black .ex span:hover, 
.black .ant-card-cover h1 {
  color: #252525;
}
.black .ant-card-meta-title, 
.black .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.black .ant-card-meta-description {
  color: #393939;
}
.black input,
.black .ant-steps-item-process .ant-steps-item-icon,
.black .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after,
.black .ant-btn-primary,
.black .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.black .ant-input-number,
.black .ant-tag,
.black .ant-menu.ant-menu-dark .ant-menu-item-selected,
.black .ant-select-selection,
.black .ant-input-number-input {
  background-color: #404040;
}
.black input,
.black .ant-btn:hover,
.black .ant-steps-item-process .ant-steps-item-icon,
.black .ant-steps-item-finish .ant-steps-item-icon,
.black .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.black .ant-input-number,
.black .ant-select-selection,
.black .ant-select-selection:focus,
.black .ant-select-selection:hover {
  border-color: #404040;
}
.black .currencyCard, .black .currencyType {
  background-color: #404040;
  border-color: #212625;
  box-shadow: 5px 5px 10px #ffffff;
}
.black .ant-menu-dark,
.black .ant-layout-sider-zero-width-trigger,
.black .ant-layout-sider {
  background-color: #212625;
}
.black .currencyCard:hover, .black .slt-currencyType {
  background-color: #212625;
  border-color: #404040;
  box-shadow: 5px 5px 10px #404040;
}
.black .ant-drawer-header, .black .ant-drawer-wrapper-body  {
  color: white;
  background-color: #212625;
  border-bottom: 1px solid white;
}
.black .ant-drawer-close-x, .black .ant-drawer-title, .black input {
  color: white;
}

.yellow .header, 
.yellow .ant-switch-checked,
.yellow .ant-menu-dark .ant-menu-inline.ant-menu-sub,
.yellow .content {
  background: #F29832;
}
.yellow .ant-radio-button-wrapper:hover, .yellow .ant-radio-button-wrapper-focused,
.yellow .ex a:hover, 
.yellow .ex span:hover, 
.yellow .ant-card-cover h1 {
  color: #F29832;
}
.yellow .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.yellow .ant-card-meta-title, 
.yellow .ant-card-meta-description {
  color: #F2AC32;
}
.yellow input,
.yellow .ant-steps-item-process .ant-steps-item-icon,
.yellow .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after,
.yellow .ant-btn-primary,
.yellow .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.yellow .ant-input-number,
.yellow .ant-tag,
.yellow .ant-menu.ant-menu-dark .ant-menu-item-selected,
.yellow .ant-select-selection,
.yellow .ant-input-number-input {
  background-color: #F37E35;
}
.yellow input,
.yellow .ant-btn:hover,
.yellow .ant-steps-item-process .ant-steps-item-icon,
.yellow .ant-steps-item-finish .ant-steps-item-icon,
.yellow .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.yellow .ant-input-number,
.yellow .ant-select-selection,
.yellow .ant-select-selection:focus,
.yellow .ant-select-selection:hover {
  border-color: #F37E35;
}
.yellow .currencyCard, .yellow .currencyType {
  background-color: #F37E35;
  border-color: #F5AF2D;
  box-shadow: 5px 5px 10px #F5AF2D;
}
.yellow .ant-menu-dark,
.yellow .ant-layout-sider-zero-width-trigger,
.yellow .ant-layout-sider {
  background-color: #F5AF2D;
}
.yellow .currencyCard:hover, .yellow .slt-currencyType {
  background-color: #F5AF2D;
  border-color: #F37E35;
  box-shadow: 5px 5px 10px #F37E35;
}
.yellow .ant-drawer-header, .yellow .ant-drawer-wrapper-body  {
  color: white;
  background-color: #F5AF2D;
  border-bottom: 1px solid white;
}
.yellow .ant-drawer-close-x, .yellow .ant-drawer-title, .yellow input {
  color: white;
}


.blue .header, 
.blue .ant-switch-checked,
.blue .ant-menu-dark .ant-menu-inline.ant-menu-sub,
.blue .content {
  background: #4C92FF;
}
.blue .ant-radio-button-wrapper:hover, .blue .ant-radio-button-wrapper-focused,
.blue .ex a:hover, 
.blue .ex span:hover,
.blue .ant-card-cover h1 {
  color: #4C92FF;
}
.blue .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.blue .ant-card-meta-title, 
.blue .ant-card-meta-description {
  color: #4CA6FF;
}
.blue input,
.blue .ant-steps-item-process .ant-steps-item-icon,
.blue .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after,
.blue .ant-btn-primary,
.blue .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.blue .ant-input-number,
.blue .ant-tag,
.blue .ant-menu.ant-menu-dark .ant-menu-item-selected,
.blue .ant-select-selection,
.blue .ant-input-number-input {
  background-color: #7FB2F0;
}
.blue input,
.blue .ant-btn:hover,
.blue .ant-steps-item-process .ant-steps-item-icon,
.blue .ant-steps-item-finish .ant-steps-item-icon,
.blue .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.blue .ant-input-number,
.blue .ant-select-selection,
.blue .ant-select-selection:focus,
.blue .ant-select-selection:hover {
  border-color: #7FB2F0;
}
.blue .currencyCard, .blue .currencyType {
  background-color: #7FB2F0;
  border-color: #4E7AC7;
  box-shadow: 5px 5px 10px #4E7AC7;
}
.blue .ant-menu-dark,
.blue .ant-layout-sider-zero-width-trigger,
.blue .ant-layout-sider {
  background-color: #4E7AC7;
}
.blue .currencyCard:hover, .blue .slt-currencyType {
  background-color: #4E7AC7;
  border-color: #7FB2F0;
  box-shadow: 5px 5px 10px #7FB2F0;
}
.blue .ant-drawer-header, .blue .ant-drawer-wrapper-body  {
  color: white;
  background-color: #4E7AC7;
  border-bottom: 1px solid white;
}
.blue .ant-drawer-close-x, .blue .ant-drawer-title, .blue input {
  color: white;
}

.mint .header, 
.mint .ant-switch-checked,
.mint .ant-menu-dark .ant-menu-inline.ant-menu-sub,
.mint .content {
  background: #03A678;
}
.mint .ant-radio-button-wrapper:hover, .mint .ant-radio-button-wrapper-focused,
.mint .ex a:hover, 
.mint .ex span:hover,
.mint .ant-card-cover h1 {
  color: #03A678;
}
.mint .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.mint .ant-card-meta-title, 
.mint .ant-card-meta-description {
  color: #03BA78;
}
.mint input,
.mint .ant-steps-item-process .ant-steps-item-icon,
.mint .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after,
.mint .ant-btn-primary,
.mint .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.mint .ant-input-number,
.mint .ant-tag,
.mint .ant-menu.ant-menu-dark .ant-menu-item-selected,
.mint .ant-select-selection,
.mint .ant-input-number-input {
  background-color: #4BA66A;
}
.mint input,
.mint .ant-btn:hover,
.mint .ant-steps-item-process .ant-steps-item-icon,
.mint .ant-steps-item-finish .ant-steps-item-icon,
.mint .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.mint .ant-input-number,
.mint .ant-select-selection,
.mint .ant-select-selection:focus,
.mint .ant-select-selection:hover {
  border-color: #4BA66A;
}
.mint .currencyCard, .mint .currencyType {
  background-color: #4BA66A;
  border-color: #7ABF8C;
  box-shadow: 5px 5px 10px #7ABF8C;
}
.mint .ant-menu-dark,
.mint .ant-layout-sider-zero-width-trigger,
.mint .ant-layout-sider {
  background-color: #7ABF8C;
}
.mint .currencyCard:hover, .mint .slt-currencyType {
  background-color: #7ABF8C;
  border-color: #4BA66A;
  box-shadow: 5px 5px 10px #4BA66A;
}
.mint .ant-drawer-header, .mint .ant-drawer-wrapper-body  {
  color: white;
  background-color: #7ABF8C;
  border-bottom: 1px solid white;
}
.mint .ant-drawer-close-x, .mint .ant-drawer-title, .mint input {
  color: white;
}

.beige .header, 
.beige .ant-switch-checked,
.beige .ant-menu-dark .ant-menu-inline.ant-menu-sub,
.beige .content {
  background: #BD8D5F;
}
.beige .ant-radio-button-wrapper:hover, .beige .ant-radio-button-wrapper-focused,
.beige .ex a:hover, 
.beige .ex span:hover,
.beige .ant-card-cover h1 {
  color: #BD8D5F;
}
.beige .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.beige .ant-card-meta-title, 
.beige .ant-card-meta-description {
  color: #BD975F;
}
.beige input,
.beige .ant-steps-item-process .ant-steps-item-icon,
.beige .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after,
.beige .ant-btn-primary,
.beige .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.beige .ant-input-number,
.beige .ant-tag,
.beige .ant-menu.ant-menu-dark .ant-menu-item-selected,
.beige .ant-select-selection,
.beige .ant-input-number-input {
  background-color: #DEAF6B;
}
.beige input,
.beige .ant-btn:hover,
.beige .ant-steps-item-process .ant-steps-item-icon,
.beige .ant-steps-item-finish .ant-steps-item-icon,
.beige .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.beige .ant-input-number,
.beige .ant-select-selection,
.beige .ant-select-selection:focus,
.beige .ant-select-selection:hover {
  border-color: #DEAF6B;
}
.beige .currencyCard, .beige .currencyType {
  background-color: #DEAF6B;
  border-color: #E0BD7B;
  box-shadow: 5px 5px 10px #E0BD7B;
}
.beige .ant-menu-dark,
.beige .ant-layout-sider-zero-width-trigger,
.beige .ant-layout-sider {
  background-color: #E0BD7B;
}
.beige .currencyCard:hover, .beige .slt-currencyType {
  background-color: #E0BD7B;
  border-color: #DEAF6B;
  box-shadow: 5px 5px 10px #DEAF6B;
}
.beige .ant-drawer-header, .beige .ant-drawer-wrapper-body  {
  color: white;
  background-color: #E0BD7B;
  border-bottom: 1px solid white;
}
.beige .ant-drawer-close-x, .beige .ant-drawer-title, .beige input {
  color: white;
}